html {
      scroll-behavior: smooth;
}

.centrado {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

/*-HEADER  ENCABEZADO---*/
body {

      width: 100vw;
      font-size: 0.8rem;
      background-image: url(https://i.pinimg.com/564x/19/f9/ed/19f9ed7eaffa9ab5ff644b67c5ba00c3.jpg);
      font-family: Lora;
      text-transform: capitalize;

}

body header .cont-header {

      font-family: Playfair Display;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: rgb(8, 8, 8);

}

body header .cont-img-header {
      display: flex;
      justify-content: space-around;

}

body header.cont-img-header .img-header {
      height: 19rem;
      width: 19rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.img-logo {
      height: 19rem;
      width: 19rem;
      display: none;
}
.not-header{
      color: yellow;
      z-index: 6;
}


body header h1 {
      position: relative;
      z-index: 5;
      font-size: 2rem;
      color: white;
      text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.67);
}

body header h3 {
      position: relative;
      top: 3px;
      color: white;
      font-size: 1rem;
      padding: 0.8rem;
      z-index: 4;
      text-transform: none;
}

/*-NAV-BOTONES---*/
body nav button {
      height: 3rem;
      width: 100%;
      background-image: url(https://i.pinimg.com/564x/0b/07/2f/0b072f4315c08b61b855d2557d559100.jpg);
      font-size: 1rem;
      color: white;
      text-transform: capitalize;

}

body nav button:hover {
      border: 4px solid yellow;

}

h2 {
      font-family: Spicy Rice;
      color: yellow;
      font-size: 1.8rem;
      font-weight: bold;
      padding-top: 1.25rem;
      text-shadow: 2px 4px 2px rgb(0 0 0);
      z-index: 3;
}

i {
      font-size: 1.3rem;
}


.not-header {
      position: relative;
      top: 1, 56rem;
}

/*-MAIN CAJA CONOCIMIENTOS----------*/
body main .cont-caja-conoc {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
}

body main .cont-caja-conoc .caja-conoc {
      height: 6.25rem;
      width: 6.25rem;
      background-color: #161918;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

}

body main .cont-caja-conoc .caja-conoc .tit-conoc {
      font-size: 1rem;
}

/*-MAIN CAJA TRABAJO----------*/
body main .cont-trabajo {

      display: flex;
      margin-top: 1.87rem;
      margin-bottom: 1.87rem;
      color: white;
      height: 9.37rem;
      width: 100%;
      box-shadow: 10px 10px 25px 8px rgba(0, 0, 0, 0.75);
}

body main .not-trabajo {
      background-size: cover;
      background-position: center;
      height: 9.37rem;
      width: 50%;
}

.e-commer {
      background-image: url(./img/img-ecommer.jpg);
      border: 6px solid yellow;
}

.pagina-eventos {
      background-image: url(./img/img-pagina-eventos.jpg);

}

.blog {
      background-image: url(./img/img-blog.jpg);

}

.todo-app {
      background-image: url(./img/img-todo-app.jpg);

      border: 6px solid yellow;
}

/*--FOOTER- BOTONES-CONTACTO ------- -*/


body footer .not-contacto {
      display: flex;
      justify-content: space-around;

}

body footer .not-contacto .boton-contacto {
      font-size: 1.8rem;
      color: white;
}

/*--FOOTER- FORMULARIO------- -*/
form {
      margin: 1, 87rem;
      display: flex;
      flex-direction: column;
      align-items: end;


}
.not-form{
      text-transform: none;
}

body footer .not-formulario {
      margin-top: 3, 12rem;
      font-size: 1, 56rem;
      color: white;

}

body footer input:hover {
      height: 1, 56rem;
      color: black;
      background-color: yellow;
}

body footer .boton-contacto:hover {
      color: #9428bb9c;

}

body footer form label {
      padding: 0.62rem;
      color: white;
      font-family: plaifair display;
}

textarea {
      background-image: url(https://i.pinimg.com/474x/91/5b/4c/915b4c185226db8d87ae4f1a41ac614c.jpg);
      color: yellow;
      font-family: plaifair display;
      padding: 0.62rem;
}

/*-----------MEDIA-C------*/
@media (min-width: 768px) {
      body {
            font-size: 0, 9rem;
      }

      body nav button {
            font-size: 1.3rem;
      }

      .img-logo {
            display: block;
            height: 20rem;
            width: 20rem;
      }

      h3 {
            font-size: 1, 25rem;

      }
      i {
            font-size: 2rem;
      }
      body main .cont-caja-conoc {
            display: flex;
            justify-content: space-between;
      }

      body main .cont-caja-conoc .caja-conoc {
            height: 7.25rem;
            width: 7.25rem;


      }
      body footer form label {
            font-size: 1.2rem;
      }
}

      @media (min-width: 1024px) {

            body main .cont-caja-conoc .caja-conoc {
                  height: 8.25rem;
                  width: 8.25rem;

            }


            body main .cont-caja-conoc .caja-conoc .tit-conoc {
                  font-size: 1.5rem;
            }
      }