.centrado {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

body {

      width: 100vw;
      font-size: 15px;
      background-image: url(https://i.pinimg.com/564x/19/f9/ed/19f9ed7eaffa9ab5ff644b67c5ba00c3.jpg);
      font-family: Lora;

}

body header .cont-header {

      font-family: Playfair Display;
      align-items: center;
      font-size: 10px;
      font-weight: bold;
      color: rgb(8, 8, 8);

}

body header .cont-img-header {
      display: flex;
      justify-content: space-around;

}

body header.cont-img-header .img-header {
      height: 300px;
      width: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.img-logo {
      height: 300px;
      width: 300px;
      display: none;
}



body header h1 {
      position: relative;
      z-index: 5;
      font-size: 45px;
      color: white;
      text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.67);
}

body header h3 {
      position: relative;
      top: 3px;
      color: white;
      font-size: 15px;
      padding: 20px;
      z-index: 4;
}

body nav button {
      height: 50px;
      width: 100%;
      background-image: url(https://i.pinimg.com/564x/0b/07/2f/0b072f4315c08b61b855d2557d559100.jpg);
      font-size: 13px;
      color: white;
}

body nav button:hover {
      border: 4px solid yellow;
}

h2 {
      padding: 20px;
      font-family: Spicy Rice;
      color: yellow;
      font-size: 30px;
      font-weight: bold;
      padding-top: 20px;
      text-shadow: 2px 4px 2px rgb(0 0 0);
      z-index: 3;
}


.not-header {
      position: relative;
      top: 25px;
}

body main .cont-caja-conoc {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
}

body main .cont-caja-conoc .caja-conoc {
      height: 100px;
      width: 100px;
      background-color: #161918;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

body main .cont-caja-conoc .caja-conoc .tit-conoc {
      font-size: 15px;
}

body main .cont-trabajo {

      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
      color: white;
      height: 150px;
      width: 100%;
      box-shadow: 10px 10px 25px 8px rgba(0, 0, 0, 0.75);
}

body main .not-trabajo {
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 50%;
}

.e-commer {
      background-image: url(./img/img-ecommer.jpg);
      border: 6px solid yellow;
}

.pagina-eventos {
      background-image: url(./img/img-pagina-eventos.jpg);

}

.blog {
      background-image: url(./img/img-blog.jpg);

}

.todo-app {
      background-image: url(./img/img-todo-app.jpg);
      padding: 10px;
      border: 6px solid yellow;
}

form {
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: end;


}

body footer .not-contacto {
      display: flex;
      justify-content: space-around;

}

body footer .not-contacto .boton-contacto {
      font-size: 35px;
      color: white;
}

body footer .not-formulario {
      margin-top: 50px;
      font-size: 25px;
      color: white;

}

body footer input:hover {
      height: 25px;
      color: black;
      background-color: yellow;
}



body footer .boton-contacto:hover {
      color: #9428bb9c;
}

label {
      padding: 10px;
      color: white;
      font-family: plaifair display;
}

textarea {
      background-image: url(https://i.pinimg.com/474x/91/5b/4c/915b4c185226db8d87ae4f1a41ac614c.jpg);
      color: yellow;
      font-family: plaifair display;
      padding: 10px;
}

@media (min-width: 768px) {
      .img-logo {
            display: block;
            height: 300px;
            width: 300px;
      }

      h3 {
            font-size: 20px;

      }

      .caja-conoc {
            height: 150px;
            width: 110px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
margin: 10px;
      }
}