.centrado {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.padding {
      padding: 10px;

}

.border {
      border: 6px solid yellow;
}

.sombreado-texto {
      text-shadow: 1px 1px 2px rgb(230, 231, 235);
}

.sombreado {
      box-shadow: 10px 10px 25px 8px rgba(0, 0, 0, 0.75);
}

.amarillo {
      background-color: #f4ff00ed;
      height: 35px;
      font-family: anton;
      font-size: 15px;
      box-shadow: 10px 10px 25px 8px rgba(0, 0, 0, 0.75);
      padding: 5px;
}

.letrablanca {
      color: white;
      font-family: plaifair display;
}

body {
      margin: 0;
      padding: 0;
}
h1{
      font-size: 45px;
      color: white;
      text-shadow: 2px 4px 2px rgba(0,0,0,0.67);
}

.cont-card {
      height: 800px;
}

span {
      font-family: Shadows Into Light;
      color: rgb(211 201 49);
      font-size: 25px;
      font-weight: bold;
      padding-top: 20px;
      text-shadow: 2px 4px 2px rgb(0 0 0);
}

body nav button {
      height: 50px;
      width: 400px;
      background-image: url(https://i.pinimg.com/564x/0b/07/2f/0b072f4315c08b61b855d2557d559100.jpg);
      font-size: 13px;
      
      color: white;
  }
     



body nav button:hover {
      border: 4px solid yellow;
}

body {

      width: 100vw;
      font-size: 15px;
      background-image: url(https://i.pinimg.com/474x/91/5b/4c/915b4c185226db8d87ae4f1a41ac614c.jpg);
      font-family: Lora;
}

body .cont-body {
      font-family: Playfair Display;
      align-items: center;
      font-size: 10px;
      font-weight: bold;
      color: rgb(8, 8, 8);

}

body header .tit-body {
      background-image: url(./nadia.jpeg);
      background-size: cover;
      height: 260px;
      max-width: 80%;

      margin: auto;
      box-shadow: 19px 23px 188px 43px rgba(29, 3, 99, 1);

}

body .cont-card {
      background-color: #326ec03d;
}





body main .cont-caja-conoc {
      display: flex;

      flex-wrap: wrap;
      justify-content: center;


}

body main .cont-caja-conoc .caja-conoc {
      height: 80px;
      width: 90px;
      background-color: #161918;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

body main .cont-caja-conoc .caja-conoc .tit-conoc,
centrado {
      font-size: 15px;
}



body main .cont-trabajo {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      color: white;
      height: 150px;
      width: 100%;
      box-shadow: 10px 10px 25px 8px rgba(0, 0, 0, 0.75);
}



body main .not-trabajo2 {
      background-size: cover;
      background-position: center;
      height: 150px;
      width: 50%;

}

.e-commer {
      background-image: url(https://i.pinimg.com/564x/e7/34/c5/e734c5eff745d4fad36791a1ce80f80e.jpg);

}

.pagina-eventos {
      background-image: url(https://i.pinimg.com/564x/71/14/b4/7114b41ff143abe4e9df001724c3e316.jpg);

}

.blog {
      background-image: url(https://i.pinimg.com/564x/d4/69/78/d46978fcda043f0cb049a9f8a0eee272.jpg);

}

.todo-app {
      background-image: url(https://i.pinimg.com/564x/54/d7/a2/54d7a26201e6a75f69ffdd0cb3d00351.jpg);
      padding: 10px;
}

form {
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: end;
     

}

body footer .not-mi-contacto {
      display: flex;
      justify-content: space-around;

}

body footer .not-mi-contacto .boton-mi-contacto {
      font-size: 35px;
      color: white;
}

body footer .not-formulario {
      font-size: 25px;

}

body footer input:hover {
      height: 25px;
      color: black;
      background-color: yellow;
}



body footer .boton-mi-contacto:hover {
      color: #9428bb9c;
}

label {
      padding: 10px;
      color: white;
      font-family: plaifair display;
}

textarea {
      background-image: url(https://i.pinimg.com/474x/91/5b/4c/915b4c185226db8d87ae4f1a41ac614c.jpg);
      color: yellow;
      font-family: plaifair display;
      padding: 10px;
}